body {
    background-color: aliceblue;
}

main {
    padding: 32px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 32px;
}

li {
    margin-bottom: 24px;
    margin-left: 20px;
}

h1 {
    font-size: 48px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 24px;
}

h2 {
    font-size: 32px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    margin-bottom: 24px;
    text-align: center;
}

p {
    font-size: 24px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    text-align: center;
    margin-bottom: 24px;
}

section {
    margin: 32px;
    text-align: center;
}

.site {
    display: grid;
    grid-template-columns: 450px 450px;
    justify-content: center;
}

.site_fab {
    background-color: rgb(255, 225, 213);
    border-radius: 25px;
    padding: 32px;
    border: 3px solid black;
}

img {
    width: auto;
    height: 50px;
    margin-bottom: 24px;
}

a {
    text-decoration: underline;
    font-size: 24px;
    color: black;
}

a:hover {
    color: rgb(141, 141, 141);
}

.ressources {
    display: grid;
    grid-template-columns: 450px 450px;
    justify-content: center;
}

.sites_ressources {
    background-color: rgb(170, 235, 245);
    border-radius: 25px;
    padding: 32px;
    border: 3px solid black;
}

.docs {
    display: grid;
    grid-template-columns: 450px 450px;
    justify-content: center;
}

.sites_docs {
    background-color: rgb(255, 193, 251);
    border-radius: 25px;
    padding: 32px;
    border: 3px solid black;
}

.extensions {
    display: grid;
    grid-template-columns: 450px 450px;
    justify-content: center;
}

.extension {
    background-color: rgb(168, 204, 143);
    border-radius: 25px;
    padding: 32px;
    border: 3px solid black;
}

.search-container {
    text-align: center;
    margin-bottom: 32px;
}

#searchbar {
    padding: 15px;
    border-radius: 25px;
    border: 3px solid black;
    width: 50%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    background-color: rgb(255, 255, 255);
    outline: none;
}

/* Petit effet quand on clique dedans */
#searchbar:focus {
    background-color: rgb(240, 255, 255);
}

@media (max-width: 950px) {

    .site,
    .ressources {
        grid-template-columns: 1fr;
    }

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 28px;
    }

    p {
        font-size: 20px;
    }
}